@use '../variables' as *;

// https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/

/* Styles for the hero image */
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(pixel-to-rem(240px), 1fr));
    align-items: center;
    padding: 4rem 2rem;

    /* Photo by Pedro Monteiro on Unsplash */
    background: url('https://images.unsplash.com/photo-1515238152791-8216bfdf89a7')
        center;
    background-size: cover;

    &.flights {
        /* Photo by Matthew Smith on Unsplash */
        background: url('https://images.unsplash.com/photo-1421789497144-f50500b5fcf0')
            center;
    }

    &.cars {
        /* Photo by Carles Rabada on Unsplash */
        background: url('https://images.unsplash.com/photo-1570636802145-8cda1335fe54')
            center;
    }

    &.hotels {
        /* Photo by Sasha Kaunas on Unsplash */
        background: url('https://images.unsplash.com/photo-1584132967334-10e028bd69f7')
            center;
    }

    & * {
        color: white;
    }

    & h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
    }

    & article {
        & p {
            font-size: 1.5rem;
            font-weight: 500;
        }

        & a {
            padding: 1rem;
            margin-top: 0.75rem;
        }
    }
}

/* widgets styles */
.widgets {
    padding: 2rem;

    & ul {
        list-style-type: none;
        display: grid;
        grid-template-columns:
            minmax(pixel-to-rem(320px), 1fr) minmax(pixel-to-rem(320px), 1fr)
            minmax(pixel-to-rem(320px), 1fr);
        grid-gap: 1rem;

        & li {
            border: pixel-to-rem(1px) solid $kpg-border-color;
            border-radius: 0.5rem;

            & figure {
                max-height: pixel-to-rem(220px);
                overflow: hidden;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                position: relative;

                & img {
                    width: 100%;
                    -webkit-user-select: none;
                    user-select: none;
                }

                & figcaption {
                    position: absolute;
                    bottom: 0;
                    background-color: $kpg-figcaption-background-color;
                    width: 100%;

                    & h3 {
                        color: white;
                        padding: 0.75rem;
                        font-size: 1.25rem;
                    }
                }
            }
            & p {
                font-size: 1rem;
                line-height: 1.5;
                padding: 1rem 0.75rem;
                color: $kpg-font-color;
            }
        }
    }

    &.hotels {
        display: grid;
        grid-template-columns: fit-content(20%) fit-content(80%);
        grid-gap: 1rem;
        justify-content: space-evenly;

        & .points {
            width: 100%;
            & a {
                margin: 0;
                background-color: white;
            }
        }

        & .rooms {
            border: pixel-to-rem(1px) solid $kpg-border-color;
            border-radius: 0.5rem;
            padding: 1rem;

            & figure {
                overflow: hidden;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                position: relative;

                & img {
                    width: 100%;
                    -webkit-user-select: none;
                    user-select: none;
                }

                & figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $kpg-figcaption-background-color;
                    width: 100%;

                    & h3 {
                        color: white;
                        padding: 0.75rem;
                        font-size: 1.25rem;
                    }
                }
            }
            & .caption {
                margin-left: 5%;

                & a {
                    margin: 0;
                }
            }
        }
    }

    & .flights,
    & .cars {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;

        background-color: $kpg-light-background-color;
        background-size: cover;
        padding: 2rem;
        position: relative;

        & .flex {
            display: flex;
            flex-direction: column;
            width: 100%;

            & .date {
                padding-right: pixel-to-rem(12px);
                margin-left: auto;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
            & iframe {
                border: none;
                overflow: hidden;
                width: 100%;
                height: 60vh;
            }
            & button {
                border: none;
                background-color: transparent;
            }
        }
        & .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $kpg-color-red;
            width: 100%;

            & h3 {
                color: white;
                padding: 0.75rem;
                font-size: 1.25rem;
                text-align: center;
            }
        }
    }

    & .cars {
        grid-template-columns: 1fr 4fr;
        & .flex {
            & iframe {
                height: 100vh;
            }
        }
    }

    & .flights {
        & .flex.fixed {
            width: pixel-to-rem(438px);
        }
    }
}

#travel-widgets {
    & figure {
        max-height: pixel-to-rem(623px);

        & img {
            height: pixel-to-rem(623px);
        }

        & .tooltip {
            & .tooltip-text {
                display: none;
                color: #fff;
                text-align: center;

                position: absolute;
                bottom: 12%;
                left: 0;
                margin-left: pixel-to-rem(12px);
            }

            &:hover {
                & .tooltip-text {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .widgets ul {
        display: block;
    }
}

@media (max-width: 414px) {
    .hero h1 {
        font-size: 2.275rem;
    }
    .widgets ul {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(320px), 1fr)
        );
        margin-left: -24%;
    }
    .widgets .flights,
    .widgets .cars {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        position: static;
        padding: 0;
    }
    .widgets .flights .flex,
    .widgets .flights .flex.fixed,
    .widgets .cars .flex {
        width: fit-content;
    }
    .widgets .flights iframe {
        min-height: pixel-to-rem(600px);
    }
    .widgets .cars .flex iframe {
        min-height: pixel-to-rem(575px);
        min-width: pixel-to-rem(320px);
    }
    .widgets .flights .caption,
    .widgets .cars .caption {
        display: none;
    }
    .widgets .flights,
    .widgets.hotels {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .widgets.hotels .rooms .caption {
        margin: 0;
    }

    #travel-widgets figure img {
        height: 100%;
        min-height: pixel-to-rem(312px);
    }
    #travel-widgets figure .tooltip:hover {
        .tooltip-text {
            display: none;
        }
    }
}

@media (max-width: 399.98px) {
    .widgets ul {
        margin-left: -36%;
    }
}

@media (max-width: 280px) {
    .hero {
        padding: 1rem 0.5rem;
        display: block;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(240px), 1fr)
        );
        align-items: center;
    }
    .widgets ul {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(240px), 1fr)
        );
        margin-left: -56%;
    }
}
