@use '../variables' as *;

// https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/

/* Styles for the hero image */
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(pixel-to-rem(240px), 1fr));
    align-items: center;
    padding: 4rem 2rem;

    /* Photo by Pedro Monteiro on Unsplash */
    background: url('https://images.unsplash.com/photo-1515238152791-8216bfdf89a7')
        center;
    background-size: cover;

    &.flights {
        /* Photo by Matthew Smith on Unsplash */
        background: url('https://images.unsplash.com/photo-1421789497144-f50500b5fcf0')
            center;
        background-size: cover;
    }

    & * {
        color: white;
    }

    & h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
    }

    & article {
        & p {
            font-size: 1.5rem;
            font-weight: 500;
        }

        & a {
            padding: 1rem;
            margin-top: 0.75rem;
        }
    }
}

/* widgets styles */
.widgets {
    padding: 2rem;

    & ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(320px), 1fr)
        );
        grid-gap: 1rem;

        & li {
            border: pixel-to-rem(1px) solid $kpg-border-color;
            border-radius: 0.5rem;

            & figure {
                max-height: pixel-to-rem(220px);
                overflow: hidden;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                position: relative;

                & img {
                    width: 100%;
                }

                & figcaption {
                    position: absolute;
                    bottom: 0;
                    background-color: $kpg-figcaption-background-color;
                    width: 100%;

                    & h3 {
                        color: white;
                        padding: 0.75rem;
                        font-size: 1.25rem;
                    }
                }
            }
            & p {
                font-size: 1rem;
                line-height: 1.5;
                padding: 1rem 0.75rem;
                color: $kpg-font-color;
            }
        }
    }

    & .flights {
        background-color: $kpg-light-background-color;
        background-size: cover;
        padding: 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(240px), 1fr)
        );
        align-items: center;
        position: relative;

        & .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $kpg-color-red;
            width: 100%;

            & h3 {
                color: white;
                padding: 0.75rem;
                font-size: 1.25rem;
                text-align: center;
            }
        }
        & iframe {
            border: none;
            width: 100%;
            min-height: pixel-to-rem(590px);
        }
    }
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .widgets ul {
        display: block;
    }
}

@media (max-width: 414px) {
    .widgets ul {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(320px), 1fr)
        );
        margin-left: -24%;
    }
    .widgets .flights {
        display: block;
        background: none;
        padding: 0;
        grid-template-columns: auto;
        position: static;

        & .caption {
            display: none;
        }
    }
    .widgets .flights iframe {
        min-height: pixel-to-rem(575px);
    }
    .widgets .flights .caption {
        display: none;
    }
}

@media (max-width: 399.98px) {
    .widgets ul {
        margin-left: -36%;
    }
}

@media (max-width: 280px) {
    .hero {
        padding: 1rem 0.5rem;
        display: block;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(240px), 1fr)
        );
        align-items: center;
    }
    .widgets ul {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(pixel-to-rem(240px), 1fr)
        );
        margin-left: -56%;
    }
}
